[Unit]
Description=DART Init-System Service
After=multi-user.target

[Service]
User=$KIOSK_USER
TTYPath=/dev/tty1
Environment="XDG_RUNTIME_DIR=$KIOSK_RUNDIR"
ExecStart=/usr/bin/cage -- $KIOSK_APP
StandardError=journal

[Install]
WantedBy=default.target
