[Unit]
Before=systemd-user-sessions.service
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/root/resize_fs.sh

[Install]
WantedBy=multi-user.target