[Unit]
Description=DART Init-System Service
After=multi-user.target

[Service]
User=$DART_USER
TTYPath=/dev/tty1
Environment="XDG_RUNTIME_DIR=$DART_RUNDIR"
ExecStart=/usr/bin/cage -- $DART_EXEC
StandardError=journal

[Install]
WantedBy=default.target
